.project_coin {
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 0;
  background: linear-gradient(90deg, #fff7ad, #ffa9fa);
  font-family: 'Quicksand', sans-serif;
  width: 99%;
  padding-top: 25px;
 
 &-first-div{

display: flex

}
&-div{
  padding-left: 20px;
  padding-right: 40px;
  flex-direction: column;
}

  &-name {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
     color: grey;
      font-weight: normal;
      padding-left: 200px;
      padding-bottom: 30px;
  }
  &-coin-name{
font-family: 'Quicksand', sans-serif;
  }
  &-coin-description{
    font-family: 'Quicksand', sans-serif;
  }
}
