.coin__cointainer{
 background: linear-gradient(90deg, #fff7ad, #ffa9fa);

}
.coin__container-title{
    color: grey;
    font-family: 'Quicksand', sans-serif;
     font-weight: normal;
      margin: 0;
}
