.profile__page{
   background: linear-gradient(90deg, #fff7ad, #ffa9fa);
  &-title{
     font-size: x-large;
    color: grey;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
  }
  &-hello{
 font-size: large;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
  }
}