.header__container {
  &-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: linear-gradient(90deg, #fff7ad, #ffa9fa);
    width: 100%;
    align-items: center;
  }
  &-image {
    width: 100px;
    height: 100px;
  }
  &-paragraphs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 10px;
  }
  &-paragraph {
    display: flex;
    flex-direction: row; // padding-left: 100px;
  }
  &-link {
    text-decoration: none;
    color: black;
  }

  &-paragraph1 {
    // padding-left: 30px;
  }
  &-logo {
    // padding-left: 20px;
  }
  &-login {
    // text-decoration: none;
    // color: black;
  }
  &-profile {
    // text-decoration: none;
    // color: black;
  }
  &-form {
    // text-decoration: none;
    // color: black;
  }
}
